.idea
.metadata
.DS_Store
*.iml
*/~$*
~$*
*.tmp
*.swp
logPath_IS_UNDEFINED
logs

*/.classpath
*/.project
*/.factorypath
*/.settings/
*/nohup.out

*/.DS_Store
*/.idea/
*/*.iml
*/target
**/target
*/*/target
*/tsp-tbox-directly/*/target
*/*.log
*/*.class
*/logs
*/\$\{sys:LOG_FILE\}
*/*/\$\{sys:LOG_FILE\}
*/logPath_IS_UNDEFINED/
**/\$\{sys:LOG_PATH\}
sinogold-user/logPath_IS_UNDEFINED


sinogold-user/logPath_IS_UNDEFINED
sinogold-user/logs/
sinogold-activeLink/activeLink-db/logs/
sinogold-activeLink/${sys
sinogold-activeLink/activeLink-info/info-web/${sys
sinogold-activeLink/activeLink-server/activeLink-mqtt/${sys
.project
.settings
sinogold-vehicle.zip

tsp-tbox-directly/tsp-tbox-base/target
tsp-tbox-directly/tsp-tbox-sinogold-depend/target
tsp-tbox-directly/tsp-tbox-netty-server/target
tsp-tbox-directly/target
